:root {
    --primary-color: #4a90e2;
    --bg-color: #e4e4e9;
    --text-color: #333;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

b, p, a, span, div {
    font-family: 'Nunito', sans-serif;
}

.card-title {
    font-size: 22px ;
    font-weight: bold;
}

.form-label{
    font-weight: 600;
  }